# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
h5py==2.10.0
jupyter==1.0.0
matplotlib==3.2.2
networkx==2.4
numba==0.51.2
numpy==1.19.3
ogb==1.2.4
pandas==1.0.5
pip==20.1.1
pykeops==1.4.1
pytest==6.1.1
ray==1.0.0
scikit-learn==0.23.1
scipy==1.5.3
six==1.15.0
tqdm==4.46.1
torchdiffeq==0.1.1
tabulate==0.8.7

# reliant on cuda version
# torch==1.6.0=pypi_0
# torch-geometric=1.6.1=pypi_0
# torch-scatter=2.0.5=pypi_0
# torch-sparse=0.6.7=pypi_0
# torchdiffeq=0.1.1=pypi_0
# torchsde=0.2.1=pypi_0
# torchsummary=1.5.1=pypi_0
# torchvision=0.7.0=pypi_0