# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
pytest==6.2.1
gudhi==3.4.0
ogb==1.3.1
pyyaml==3.12
jupyter==1.0
matplotlib==3.3.3
joblib==1.0.0
networkx==2.5
numpy==1.20.3
tqdm==4.54.1
scikit-learn==0.23.2
scipy==1.5.4
h5py==3.1.0
seaborn==0.11.1
